@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.slide-base {
  @include full-slide;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.slide-base__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $wrapped-space-lg;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}
