@use '../../styles/mixins' as *;
@use '../../styles/tokens' as *;

.toast {
  @include toast;

  animation: toastSlideIn $aw-duration-transition $aw-ease-out forwards;
}

.toast__icon {
  @include toast-icon;
}

.toast__message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes toastSlideIn {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
