@import '../../../../colors';


.hero {
  background-color: $light-black;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  width: 100%;

  @media (width >= 1000px) {
    flex-direction: row;
  }

  &__copy {
    min-width: 66%;
  }

  &__header {
    color: $yellow;
  }

  &__forms {
    background-color: $orange;
    border-radius: 2em;
    color: $black;
    min-width: 33%;
    padding: 2em;
  }

}
