@import '../../../../../colors';

.user-lists{
  background-color: $light-black;
  border-radius:0 0 2em 2em;
  margin-top: -2px;
  padding:1em 2em;

  &__list{
    display: flex;
    font-size: .8em;
    gap: 1em;
    overflow-x: scroll;
  }
}
