@use '../../styles/mixins' as *;
@use '../../styles/tokens' as *;

.share-button {
  @include cta-button;

  // Posición fija en la zona inferior de la historia
  position: fixed;
  bottom: calc($aw-safe-margin-bottom-cta + 60px);
  left: 50%;
  transform: translateX(-50%);
  z-index: $aw-z-controls;

  display: flex;
  align-items: center;
  gap: $aw-space-xs;

  @media (min-width: #{$aw-story-width}) {
    bottom: calc($aw-safe-margin-bottom-cta + 80px);
  }

  &:disabled {
    &:hover {
      transform: translateX(-50%);
      background: #3c3c3c;
    }

    &:active {
      transform: translateX(-50%);
    }
  }
}

.share-button__icon {
  font-size: 20px;
  line-height: 1;
}
