@use 'sass:color';
@import '../../../../colors';

.slider {
  &__container {
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    overflow-x: auto; // Asegúrate de tener esto
    position: relative;

    &::after {
      background: linear-gradient(to left, $light-black, transparent);
      bottom: 0;
      content: '';
      pointer-events: none;
      position: sticky;
      right: 0;
      top: 0;
      width: 40px;
      z-index: 2;
    }

    // Personalizar el ancho de la barra de desplazamiento
    &::-webkit-scrollbar {
      height: 10px;
      width: 5px;
    }

    // Personalizar el fondo de la barra de desplazamiento
    &::-webkit-scrollbar-track {
      background-color: $light-black; // Puedes cambiar este color para que se adapte a tu diseño
      border-radius: 10px;
    }

    // Personalizar el aspecto del pulgar de la barra de desplazamiento
    &::-webkit-scrollbar-thumb {
      background-color: $pink; // Puedes cambiar este color también
      border-radius: 10px;
    }

    // Personalizar el aspecto del pulgar de la barra de desplazamiento al pasar el ratón por encima
    &::-webkit-scrollbar-thumb:hover {
      background-color: color.adjust($pink, $lightness: -10%);
    }
  }

  & h2 {
    color: $yellow;
  }
}
