@import '../colors';

.user{
  padding: 1em;
  min-height: 100vh;
  &__topnav{
    & ul{
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      list-style: none;
    }
  }
  &__top-button{
    background-color: $black;
    border: 2px solid $light-black;
    border-radius: 1em 1em 0 0;
    padding: 1em;
    color: white;
    &:hover{
      background-color: $light-black;
    }
    @media (min-width: 768px) {
      flex-grow: 1;
    }
  }

}
