@import '../../../colors';

.card{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  background-color: $green;
  padding: 1em;
  border-radius: 1em;
  min-width: 250px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1em;
  &__image{
    max-width: 100%;
    & img{
      width: 100%;
      border-radius: .5em;
    }
  }
  &__title{
    margin: 0;
    margin-top: 1em;
    color: $black;
    height: 4.3em;
  }
}
