@import '../../../../colors';

.activity-card{
  padding: 1em;
  background-color: $green;
  border-radius: 1em;
  min-width: 200px;
  max-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
}
