@import '../../../../colors';

.custom__form{
  &-checkbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

}

// .register__button{
//   &--disabled{
//     background-color: $lighter-black;

//   }
// }
